<!doctype html>
<html lang="en">
<head>
    <title>Student detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div style="margin: 10%">
    <div>
        <div style="float: left">
            <h1>Học viên <%= student.name %></h1>
        </div>
        <div style="float: right">
            <a href="/" class="btn btn-primary">Danh sách học viên</a>
        </div>
    </div>
    <br>
    <div style="position: relative;left: -400px;top: 100px">
        <form action="/student/update/<%=student._id%>" method="get">
            <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
            <a href="/" class="btn btn-secondary">Thoát</a>
            <div style="position: relative;left: 400px">
            <table>
                <tr>
                    <td class="col-3">Tên</td>
                    <td class="col-3"><%= student.name %></td>
                </tr>
                <tr>
                    <td class="col-3">Lớp</td>
                    <td class="col-3"><%= student.class.name %></td>
                </tr>
                <tr>
                    <td class="col-3">Điểm lý thuyết</td>
                    <td class="col-3"><%= student.theoryScore %></td>
                </tr>
                <tr>
                    <td class="col-3">Điểm thực hành</td>
                    <td class="col-3"><%= student.practicalScore %></td>
                </tr>
                <tr>
                    <td class="col-3">Đánh giá</td>
                    <td class="col-3"><%= student.evaluate %></td>
                </tr>
                <tr>
                    <td class="col-3">Mô tả</td>
                    <td class="col-3"><%= student.description %></td>
                </tr>
            </table>
            </div>
        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>